@model CourbesCharge.Models.Consommation

@{
    ViewBag.Title = "UploadFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UploadFile</h2>
@using (Html.BeginForm("SendFile", "Consommations", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error)
    <span>Excel File</span>
    <input type="file" name="ExcelFile"></input>
    <br />
    <input type="submit" value="Importer" />
}